<div class="container">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 outerframe">
    <h1 class="center-block">Abril Pro Ruby 2014</h1>
    <h2 class="center-block">
      <%= image_tag 'cfp-sent@2x.png', width: 48, height: 48 %>
      Proposal Sent
    </h2>
    <%= image_tag 'cfp-first-bump@2x.png', class: 'wooot center-block', width: 256, height: 256, alt: 'Fist Bump designed by Kyle Tezak from the Noun Project' %>
    <p class="wooot-text" >
      <strong>Wooot! We'll meet on the beach!</strong><br />
      Your proposal has just arrived here.<br/>
      You'll receive a confirmation email in a few moments. Thank you!
    </p>
    <a class="back" href="http://abrilproruby.com">&larr; Back to AP.Rb</a>
  </div>
</div>