<div class="container">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 outerframe">
    <h1 class="center-block">Abril Pro Ruby 2014</h1>
    <h2 class="center-block">
      <%= image_tag 'cfp-icon@2x.png', width: 48, height: 48, alt: "Microphone Icon designed by Edward Boatman from the Noun Project" %> Mr. Jones
    </h2>
    <a class="back" href="http://abrilproruby.com">&larr; Back to AP.Rb</a>
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd>Mr. Jones</dd>
      <dt>Title</dt>
      <dd>Super Human</dd>
      <dt>Organization</dt>
      <dd>Avengers</dd>
      <dt>Short Bio</dt>
      <dd>I was born 10,000 years ago</dd>
      <dt>Residence</dt>
      <dd>Recife, PE</dd>
      <dt>Travel Expenses</dt>
      <dd>Yes</dd>
      <dt>Email</dt>
      <dd>fulano@de.tal</dd>
      <dt>GitHub Handler</dt>
      <dd>@fulanodetal</dd>
      <dt>Twitter Handler</dt>
      <dd>@fulanodetal</dd>
      <dt>Talk Title</dt>
      <dd>I wanna rock!</dd>
      <dt>Talk Description</dt>
      <dd>Well, all I got to say to you when you tell me not to play / I say, "No, no, no, no, no, no, no" / So, if you ask me why I like the way I play it / There's only one thing I can say to you / I wanna rock / (Rock) / I wanna rock / (Rock)</dd>
      <dt>Notes</dt>
      <dd>Call me maybe.</dd>
    </dl>
    <p>
      If you think anything is wrong or need to change something, send an email to <a href="mailto:abrilproruby@frevooonrails.com.br">abrilproruby@frevooonrails.com.br</a>.
    </p>
  </div>
</div>