<div class="container">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 outerframe">
    <h1 class="center-block">Abril Pro Ruby 2014</h1>
    <h2 class="center-block">
      <%= image_tag 'cfp-icon@2x.png', width: 48, height: 48, alt: "Microphone Icon designed by Edward Boatman from the Noun Project" %> Call For Speakers
    </h2>
    <p>
      It will be a pleasure to hear what you have to say and share experiences with you.<br />
      The sessions will last 40 minutes with 10 additional minutes for questions.<br />
      Your talk can be presented in English or Portuguese.
    </p>
    <a class="language" href="../pt/cfp">Portugu&#234;s</a>
    <a class="back" href="javascript:history.back()">&larr; Back</a>
    <div class="form-group has-error">
      <label for="SpeakerName">Name</label>
      <input type="text" class="form-control" id="SpeakerName" placeholder="What's your name?">
    </div>
    <div class="form-group">
      <label for="SpeakerTitle">Title</label>
      <input type="text" class="form-control" id="SpeakerTitle" placeholder="What do you do?">
    </div>
    <div class="form-group">
      <label for="SpeakerOrganization">Organization</label>
      <input type="text" class="form-control" id="SpeakerOrganization" placeholder="Where do you work?">
    </div>
    <div class="form-group">
      <label for="SpeakerBiography">Short Bio</label>
      <textarea class="form-control" id="SpeakerBiography" rows="3" placeholder="How would you briefly describe yourself?"></textarea>
    </div>
    <div class="form-group">
      <label for="SpeakerResidence">Residence</label>
      <input type="text" class="form-control" id="SpeakerCountry" placeholder="What city do you live in?">
    </div>
    <fieldset>
      <legend>Travel Expenses</legend>
      <div class="radio">
        <input type="radio" name="SpeakerAssistance" id="SpeakerAssistanceYes" value="1">
        <label for="SpeakerAssistanceYes">I will need assistance to pay my travel expenses.</label>
      </div>
      <div class="radio negativeassistance">
        <input type="radio" name="SpeakerAssistance" id="SpeakerAssistanceNo" value="0">
        <label for="SpeakerAssistanceNo">Nevermind, I can pay for my travel.</label>
      </div>
    </fieldset>
    <div class="form-group">
      <label for="SpeakerEmail">Email</label>
      <input type="email" class="form-control" id="SpeakerEmail" placeholder="Oldschool contact (your@email.com)">
    </div>
    <div class="form-group">
      <label for="SpeakerGithubHandler">GitHub Handler</label>
      <input type="url" class="form-control" id="SpeakerGithubHandler" placeholder="Newschool contact (@username)">
    </div>
    <div class="form-group">
      <label for="SpeakerTwitterHandler">Twitter Handler</label>
      <input type="url" class="form-control" id="SpeakerTwitterHandler" placeholder="Another newschool contact (@username)">
    </div>
    <div class="form-group">
      <label for="SpeakerTalkTitle">Talk Title</label>
      <input type="text" class="form-control" id="SpeakerTalkTitle" placeholder="It doesn't need to be the final title of your talk">
    </div>
    <div class="form-group">
      <label for="SpeakerTalkDescription">Talk Description</label>
      <textarea class="form-control" id="SpeakerTalkDescription" rows="8" placeholder="What do you plan to cover and what the audience will learn?"></textarea>
    </div>
    <div class="form-group">
      <label for="SpeakerNotes">Notes</label>
      <textarea class="form-control" id="SpeakerNotes" rows="3" placeholder="Anything else?"></textarea>
    </div>
    <p>
      <small>Beware that this proposal may be shown to attendees so they can choose what they want to see.</small>
    </p>
    <button type="submit" class="btn btn-default btn-lg center-block">Submit your proposal</button>
  </div>
</div>