<div class="container">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 outerframe">
    <h1 class="center-block">Abril Pro Ruby 2014</h1>
    <h2 class="center-block">Thank you!</h2>

    <%= image_tag 'thanks-icon@2x.png', class: 'wooot center-block', width: 256, height: 256, alt: 'Heart designed by Travis Yunis from the Noun Project', title: 'Heart designed by Travis Yunis from the Noun Project' %>

    <h3>The C.F.P. is now closed.</h3>
    <p>Thank you for all the high-quality proposals you sent. <br />We will announce the selected speakers soon. Stay tuned!.</p>
  </div>
</div>
